
@{
    ViewBag.Title = "CreatePerson";
}

<h2>CreatePerson</h2>

<form action="#" method="post" id="myForm">
    <label for="name">Name:</label>
    <br />
    <input type="text" id="name" name="name" required>

    <br>

    <label for="id">ID:</label>
    <br />
    <input type="text" id="id" name="id" required>

    <br>

    <input type="submit" value="Submit">
</form>